html {
  font-family: sans-serif;
}

body {
  background-color: aliceblue;
}

.header__logo-image {
  width: 9rem;
  height: 9rem;
}

.content {
  p {
    line-height: 1.5rem;
  }
}

figure {
  &.image {
    figcaption {
      p {
        text-align: center;
        color: gray;
        a {
          color: gray;
        }
      }
    }
  }
}

.online-presence-logo {
  width: 4rem;
  padding-right: 1rem;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.menu {
  li {
    display: inline-flex;
    margin-bottom: 0.5rem;
  }
}

// MailChimp Signup Form
  // have to put !importnat b/c they come w/ default styling
  // that I think is internally inline. Feel free to fix if you
  // find otherwise
#mc-embedded-subscribe-form {
  padding: 0 !important;
  text-align: left !important;
}

#mc-embedded-subscribe {
  background-image: none;
  width: 100%;
}

// Utilities
.u-link-with-no-underline {
  border: 0;
  text-decoration: none;
}

.u-filter-almost-black-and-white {
  filter: grayscale(0.9);
}

figure {
  &.image {
  &.center {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }
}
