html {
  font-family: sans-serif;
}

body {
  background-color: lightskyblue;
}

.content {
  p {
    line-height: 1.5rem;
  }
}

figure {
  &.image {
    figcaption {
      p {
        text-align: center;
        color: gray;
        a {
          color: gray;
        }
      }
    }
  }
}

.online-presence-logo {
  width: 4rem;
  padding-right: 1rem;
  transition: opacity 0.2s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}

.menu {
  li {
    display: inline-flex;
    margin-bottom: 0.5rem;
  }
}

// utilities
.u-link-with-no-underline {
  border: 0;
  text-decoration: none;
}

.u-filter-almost-black-and-white {
  filter: grayscale(0.9);
}